body {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    margin: 0;
    line-height: 1.2rem;
}

#example {
    border: 1px solid grey;
    background: #b3c8d0;
    font-size: 14pt;
    padding-left: 10pt;
    padding-right: 10pt;
    min-height: 200px;
}

button {
    font-size: 14pt;
    margin: 8px;
}